* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
body {
  background: #eee;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.wrap {
  width: 90%;
  margin: 2px auto;
}

nav.menu ul {
  overflow: hidden;
  color: #fff;
  list-style: none;
  float: left;
  padding: 0;
  width: 100%;
  margin: 0 0 0;
  background: #1abc9c;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
  box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
}

nav.menu ul li {
  margin: 0;
  float: left;
}

nav.menu ul a {
  padding: 25px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none;
}

nav.menu ul a:hover {
  text-decoration: underline;
  background: #16a085;
}

.sidebar {
  float: left;
  width: 275px;
  margin-top: 20px;
}

.sidebar .widget {
  padding: 25px;
  margin: 0 0 25px;
  background: #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.5s ease;
}

.sidebar .widget:hover {
  border-bottom: 2px solid #3498db;
}

.sidebar .widget h2 {
  padding: 0;
  margin: 0 0 15px;
  color: #3498db;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.sidebar .widget p {
  font-size: 14px;
}

.sidebar .widget p:last-child {
  margin: 0;
}

.blog {
  float: right;
  margin-right: 15%;
}

.conteudo {
  width: 750px;
  padding: 10px;
  margin: 25px auto;
  background: #fff;
  border: 0px solid #dedede;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
  box-shadow: 5px 10px 18px rgba(204, 204, 204, 0.35);
}

.conteudo h1 {
  padding: 0;
  margin: 0 0 15px;
  font-weight: normal;
  color: #666;
  font-family: Georgia;
}
.footer {
  margin-bottom: 0px;
  background-color: #666;
  position: relative;
  width: 100%;
}
#logo {
  float: left;
  width: 200px;
  height: auto;
  padding: 20px;
}
#logo img {
  max-width: 100%;
  height: auto;
}
